<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Circuit Puzzle</title>
  </head>
  <body class="bg-white antialiased">
    <slot />
  </body>
</html>
